@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');

$fontFamily: 'Heebo', sans-serif;
$black: black;
$text: #21243D;
$white: white;
$accents: #FF6464;
$bg: #EDF7FA;
$gray: #8695A4;
$primary: #00A8CC;
$borders: #E0E0E0;
$fontSize: 16px;
$transition: .3s linear;