@import 'vars';
@import 'mixins';
@import 'globals';

// nav
nav {
    padding: 27px 60px 0 0;
    ul {
        @include flex($justify: flex-end);
        @media  screen and (max-width:768px) {
            justify-content: center;
        }
        @include responsive(mobilni){
            flex-direction: column;
        }
        a {
            font-weight: 500;
            font-size: 20px; 
            color: $black;
            margin-left: 35px;
            &:hover {
                color: $accents;
            }
        }
    }
}

// main header
.mainHeader {
    padding: 140px 0 70px 0;
    @include flex;
    @media  screen and (max-width:768px) {
        flex-direction: column-reverse;
        padding-top: 70px;
    }
    .text {
        @media  screen and (max-width:768px) {
         text-align: center;
         padding-top: 50px;   
        }
        flex: 0 0 55%;
        h1 {
            font-size: 44px; 
            line-height: 60px;
        }
        p {
            padding: 40px 0;
        }
    }
    .img {
        flex: 0 0 40%;
        @include flex($justify: flex-end);
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

// posts
.posts {
    background: $bg;
    padding: 30px 0;
    .viewAll {
        @include flex;
        padding-bottom: 22px;
        @media  screen and (max-width:768px) {
            padding: 0 20px 22px;   
        }
        h4 {
            font-size: 22px; 
            font-weight: 400; 
        }
        a {
            color: $primary;
        }
    }
    .listPosts {
        @include flex;
        
        article {
            flex: 0 0 49%;
            @media  screen and (max-width:768px) {
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
            padding: 24px;
            h3 {
                font-size: 26px;
                font-weight: 700; 
            }
            span {
                font-size: 18px; 
                padding: 25px 0 15px 0;
                display: inline-block;
            }
        }
    }
}

// .posts
.works {
    padding-bottom: 80px;
    h4 {
        font-size: 22px;
        line-height: 60px; 
        font-weight: 400; 
        margin-top: 20px;
    }
    article {
        @include flex;
        @media  screen and (max-width:768px) {
            flex-direction: column;   
        }
        padding-bottom: 15px;
        padding-top: 30px;
        border-bottom: 1px solid $borders;
        .img {
            flex: 0 0 30%;
            img {
                width: 100%;
                border-radius: 6px;
                @media  screen and (max-width:768px) {
                    width: 75%;
                    display: block;
                    margin: auto;
                } 
            }
        }
        .text {
            flex: 0 0 67%;
            @media  screen and (max-width:768px) {
                padding: 35px 0;
            }
            h2 {
                font-size: 30px;
                font-weight: 700; 
                margin-bottom: 16px;
            }
            p {
                margin-top: 22px;
            }
            .date {
                font-size: 18px;
                font-weight: 900; 
                background: $text;
                border-radius: 16px; 
                padding: 0px 15px;
                color: $white;
            }
            .cat {
                margin-left: 35px;
                font-size: 20px; 
                color: $gray;
            }
        }
    }
}

//
footer {
    padding: 50px 0;
    text-align: center;
    ul {
        @include flex($justify: center);
        li {
            margin: 0 15px;
            font-size: 30px;
            a {
                color: $text;
                &:hover {
                    color: $accents;
                }
            }
        }
    }
    p {
        margin-top: 25px;
    }
}
/**************
Blog section
***************/
.blog{
    padding-top: 106px;
    @include responsive(mobilni){
        text-align: center;
        padding: 50px 20px 0px ;
    }
    h2{
        font-size: 44px;
        font-weight: 700;
        margin-bottom: 55px;
    }
    article{
        border-bottom: 1px solid $borders;
        margin-bottom: 56px;
        a {
            color: $text;
            &:hover {
                color: $accents;
            }
        }
        h3{
            font-size: 30px;
            font-weight: 500;
            margin: 32px 0px 16px 0px;
        }
        span{
            font-size: 20px;
        }
        .cat{
            color: $gray;
        }
        p{
            margin: 15px 0px 29px 0px;
        }
    }
}
/**************
Work section
***************/
.work {
    padding-bottom: 80px;
    margin-top: 90px;
    @include responsive(mobilni){
        text-align: center;
    }
    h2{
        font-size: 44px;
        font-weight: 900;
    }
    a:link , a:visited{
        color: $black;
        &:hover{
            color: $accents;
        }
    }
    article {
        @include responsive(mobilni){
            flex-direction: column;
        }
        @include flex ($align:top);
        padding-bottom: 37px;
        padding-top: 41px;
        border-bottom: 1px solid $borders;
        .img {
            flex: 0 0 30%;
            img {
                width: 100%;
                border-radius: 6px;
                @include responsive(mobilni){
                    width: 70%;
                } 
            }
        }
        .text {
            flex: 0 0 67%;
            h2 {
                font-size: 30px;
                font-weight: 700; 
                margin-bottom: 16px;
            }
            p {
                margin-top: 22px;
            }
            .date {
                font-size: 18px;
                font-weight: 900; 
                background: $text;
                border-radius: 16px; 
                padding: 0px 15px;
                color: $white;
            }
            .cat {
                margin-left: 35px;
                font-size: 20px; 
                color: $gray;
            }
        }
        
    }
    article:nth-child(odd){
        @include responsive(tablet){
            flex-direction: row-reverse;
        }
        @include responsive(mobilni){
            flex-direction: column;
        }
    }
}

.underConstruction{
    text-align: center;
    padding: 150px 0px;
    img{
        width: 90%;

    }
}